pip==18.1
setuptools==40.6.3
matplotlib==3.0.2
numpy==1.16.0

git+https://github.com/jleclanche/python-mpq@f25cbaef760aae01bb9a2bb05a19d698b6528d58 \
    --install-option=build_ext \
    --install-option="-U_DLL"
	--install-option="-IC:/dev/work/StormLib/src/" \
	--install-option="-LC:/dev/work/StormLib/storm_dll/;C:/dev/work/StormLib/bin/StormLib/x64/ReleaseAS/"
